<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="generator" content="TrinteJS! - Javascript MVC Framework">
        <meta name="author" content="<?= author ?>">
        <title><?= pack ?></title>
        <link type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/addons.min.css" rel="stylesheet"/>
        <link type="text/css" href="/css/style.css" rel="stylesheet"/>
        <script type="text/javascript" charset="utf-8" src="/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <meta name="csrf-param" content="_csrf">
        <meta name="csrf-token" content="<%- request.csrfToken() %>">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
        <script src="/vendor/respond/dest/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="page" class="container">
            <!--page content-->
            <%- body %>
        </div>
        <script type="text/javascript" charset="utf-8" src="/js/app.js"></script>
    </body>
</html>